<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--把这个类交给Spring管理-->
    <bean id="controllerBaseXML" class="ioc.controller.ControllerBaseXML">
        <property name="name" value="XML"/>
        <property name="description" value="base XML"/>
    </bean>

    
</beans>